@page "/people-list"

@using Maui_Blazor_Basics.Models
@using Maui_Blazor_Basics.Services

<h3>People List</h3>

<div class="mb-3 container">
	<div class="row g-2">
		<div class="col-auto">
			<input placeholder="Add a new person" type="text" class="form-control" @bind="newPersonName"/>
		</div>
		<div class="col-auto">
			<button class="btn btn-primary" @onclick="AddNewPerson">Add</button>
		</div>
	</div>
	<p>@statusMessage</p>
</div>

<div class="mb-3">
	@if(peopleList.Count > 0)
	{
		<h4>People List</h4>
		@foreach(var people in peopleList)
		{
			<div class="container card mb-3 p-2">
				<div class="row g-2 d-flex justify-content-between">
					<div class="col-auto mx-2">
						@people.Name 
					</div>
					<div class="col-auto mx-2">
						<button class="btn btn-danger" @onclick="() => DeletePerson(people.Id)">
							<span class="oi oi-trash" aria-hidden="true"></span>
						</button>
					</div>
				</div>
			</div>
		}
	}
</div>

@code {
	private string newPersonName;
	private string statusMessage;
	private List<PersonModel> peopleList = App.PeopleRepo.GetAllPeople();

	private void AddNewPerson()
	{
		if (string.IsNullOrEmpty(newPersonName)) return;

		App.PeopleRepo.AddNewPerson(newPersonName);
		statusMessage = App.PeopleRepo.StatusMessage;

		peopleList = App.PeopleRepo.GetAllPeople();

		newPersonName = "";
	}

	private void DeletePerson(int id)
	{
		App.PeopleRepo.DeletePerson(id);
		statusMessage = App.PeopleRepo.StatusMessage;

		peopleList = App.PeopleRepo.GetAllPeople();
	}
}
